.pass-page {
  padding-bottom: 20px;
  background-color: rgba(253, 158, 6, 0.3);
}

.pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.pass__container {
  background-image: url("../../images/hauntspassticketPNG.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 300px;
  height: 200px;
}

.pass-house-img {
  font-family: "SpookyNight", sans-serif;
  font-size: 80px;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
}

.collapse-content {
  padding: 0 20px 10px 20px;
}
