.about__heading {
  text-align: center;
  background-image: url("../../images/smoke.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  margin: 0;
  width: 100%;
}

.about__title {
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: white;
  padding-top: 20px;
}
