.accordion-container {
  max-width: 90%;
}

.collapse {
  margin-bottom: 10px;
}

.collapse-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.collapse-content {
  visibility: visible;
  max-height: 100%;
}

.collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}

.collapse-header {
  display: flex;

  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 0 20px;
  margin-bottom: 10px;
}

.reward-image {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  border-radius: 20%;
}

.redeem-business {
  width: 65%;
}

.redeem-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
}

.reward-extras {
  padding-top: 30px;
}

.reward-icon {
  width: 25px;
  height: 25px;
  border-radius: 20%;
  border: solid 2px white;
}
