.accordion-container {
  max-width: 90%;
}

.collapse {
  margin-bottom: 10px;
}

.collapse-content {
  visibility: visible;
  max-height: 100%;
}

.reward-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.reward-image {
  width: 75px;
  height: 75px;
}
