.faq__header {
  background-image: url("../../images/faqheader.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 50px;
  line-height: 1.2;
  margin: 0;
  width: 100%;
  border-bottom: solid 5px black;
}

.faq__subheading {
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}
