.current-rewards {
  background: url("../../images/horizontal_wood.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.current-rewards-title {
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  color: white;
}

.cr__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.reward-icon {
  border: solid 1px black;
}
