.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/smoke.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}

.login__title {
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 70px;
  line-height: 1.2;
  text-align: center;
  padding: 20px 0;
  margin: 0;
  color: white;
}

.login__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  max-width: 80%;
}

.error-message {
  color: red;
  font-size: 20px;
  max-width: 80%;
}
