.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.login__title {
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 70px;
  line-height: 1.2;
}

.error-message {
  color: red;
  font-size: 20px;
}
