.map__header {
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  padding: 8px 0;
  margin: 0;
  background-image: url("../../images/mapheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: solid 5px black;
}

.map__legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 10px;
}

.map__subtitle {
  font-family: "HalloweenHaunted", sans-serif;
  font-size: 35px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.map__iframe {
  width: 100%;
  max-width: 100%;
  height: 500px;
  border: 0;
}
